.contain{
    background-image: url(image.png);
    height: 500;
    width: 750;
    background-size:contain;
}
.cover{
    background-image: url(image.png);
    height: 500;
    width: 750;
    background-size:cover;
}
.auto{
    background-image: url(image.png);
    height: 500;
    width: 750;
    background-size:auto;
}
