*{
    text-align: center;
}
button{
    background-color: aquamarine;
    border: 2px solid red;
    
}
h1{
    background-color: rgb(106, 255, 158);
    border: 2px solid rgb(0, 21, 78);
    box-shadow: 4px 4px 8px gold;
}
button:hover{
    transform: scale(2);
    border-radius: 20px;
    transition: 2s;
}