#container{
    height:500px;
    width: 90%;
    background-color: rgb(224, 187, 193);
    margin: 10px auto;
    border: 2px solid black; 
    display:flex;    
}
#item1{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238);     
}
#item2{
    background-color: rgb(20, 105, 1);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238);     
}
#item3{
    background-color: rgb(255, 242, 0);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238); 
    align-self:baseline;    
}
#item4{
    background-color: rgb(0, 47, 255);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238); 
    align-self:center;    
}
#item5{
    background-color: rgb(255, 0, 204);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238); 
    align-self:flex-start;    
}
#item6{
    background-color: rgb(255, 149, 0);
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238);
    align-self: flex-end;
}