.container1{
    height:500px;
    width: 90%;
    background-color: rgb(224, 187, 193);
    margin: 10px auto;
    border: 2px solid black; 
    display:flex;   
    flex-direction: row;   
}
.container2{
    height:500px;
    width: 90%;
    background-color: rgb(224, 187, 193);
    margin: 10px auto;
    border: 2px solid black; 
    display:flex;  
    flex-direction: column;    
}
.one{
    background-color: brown;
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238);
    flex-grow:1;
}    
.two{
    background-color: brown;
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238);
    flex-grow:2;
}
.three{
    background-color: brown;
    height: 100px;
    width: 100px;
    border: 2px solid rgb(4, 255, 238); 
    flex-grow:3;

}