body{
    background-color: #0F0C1B;
    border: 1px solid white;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    
}
h2{
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline 2px solid salmon;
}
#header{
    display: inline;
    color: #FFFFFF;
}
#Logo{
    height:25px;
    width:25px;
    border-radius: 50%;
}
button{
    margin: 10px;
    background-color: #0004ff;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
}
button:hover{
    transform: scale(1.1);
}
header{
    background-color: #161329;
    border-radius:  10px  10px 0 0;
    color:#0026ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
nav{
    width: 25%;
    display: flex;
    color:#0228ff;
    display: flex;
    justify-content: space-between;
}
.hero{
    background-color: #0F0C1B;
    background-size: cover;    
    text-align: center;
    color: rgb(0, 0, 255);
}
div{
    display: inline-block;
}
.skilled{
    background-color: #161329;

}
.skills{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skill{
    width: 200px;
    height:300px;
    background-color: #0004ff;
    color: rgb(255, 255, 255);    
    margin:15px;
    border-radius: 5px;
    box-shadow:0px 5px 10px rgb(0, 0, 0);
    transition: all 1s ease-in-out;
    text-align: center;
    
}
img{
    width:100%;
    border-radius: 5px 5px 0 0;
}
.skill:hover{
    box-shadow: 0px 10px 20px rgb(255, 0, 72);
    
    transform: scale(1.02);
}
footer{
    background-color: #161329;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius:  0 0 10px  10px;

}
.projected{
    background-color: #0F0C1B;
}
.projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: center;  
    row-gap: 20px;    
    flex-wrap: wrap;  
    min-height: 70px;
    max-width: 100%;
    
    

}
.project{    
    background-color: cyan;
    color:rgb(248, 248, 248);
    font-weight: bold;    
    padding: 20px;       
    text-align: center;
}
