.container{
    height:300px;
    width: 600px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:30px;
    grid-gap:20px;    
}
.container2{
    height:300px;
    width: 600px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:30px;
    row-gap:30px;
    column-gap:15px;   
}
div{
    height:100px;
    width: 100px;
    background-color:red;
}