.loader{    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: loading 2s ease 2s infinite normal;
}
@keyframes loading {
    0%{
        transform: scale(1)  rotate(0deg);
        background-color: blue;
    }  
    50%{
        transform: scale(1.2)  rotate(180deg);
        background-color: rgb(255, 0, 0);
        

    }  
    100%{
        transform: scale(1.4)  rotate(360deg);
        background-color: green;    
    }
}
