*{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
span{
    transform: scale(2);
}
.logo div{
    display: inline-block;
    margin: 10px;
}

body{

    background:#0f172a;
    color:white;
}
header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#1e293b;
    box-shadow:0 5px 15px rgba(0,0,0,.4);
    position:sticky;
    top:0;
}
.logo{

    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}
nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:1s;
}
nav a:hover{

    color:#38bdf8;
}
.hero{

    height:50vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:#0f172a;
}
.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}
button{
    padding:15px 40px;
    background:#38bdf8;
    color:white;
    border-radius:40px;
    font-size:18px;
    cursor:pointer;
    transition:1s;
}
button:hover{

    background:#2563eb;
    transform:scale(1.1);
    box-shadow:0 0 20px #38bdf8;
}
.services{

    display:flex;
    justify-content:center;
    gap:30px;
    padding:80px 10%;
    flex-wrap:wrap;
}
.service{

    background:#1e293b;
    width:260px;
    padding:35px;
    border-radius:15px;
    text-align:center;
    transition:.4s;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    animation: blink 2s ease-in-out 1s infinite alternate;
}

footer{

    background:#1e293b;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
@keyframes blink{
    to { transform:translateY(-10px);
    background:#1e293b;}
    from {
         transform:translateY(+10px);
    background:#2563eb;
    }
}