header{ 
   text-align: center; 
}
main{ 
   text-align: center;
   
}
h1{
    color:rgb(1, 1, 74)
}
p{
    color:rgb(30, 25, 25)
}
p1{
    color:rgb(8, 196, 186)
}
h2{
    color:midnightblue;
    text-decoration: rgb(2, 58, 188) underline;

}
maine abhi webdev start kiya hai muze page kaisa bana hai uska  mockup image chaiye code nahi chaiye