*{
    text-align: center;
}
button{
    border: 2px dotted orange;
    border-radius: 10px;
    width:80px;
    height:40px;
}
h2{
    background-color: aqua;
    padding: 10px;
    margin:20px;
}