*{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.sidebar{
    position: fixed;
    left: 0%;
    height: 100%;
    width: 150px;
    background-color: black;
    display: flex;
    flex-direction: column;
    

}
h2{
    color: white;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
a{
    text-decoration: none;
    color: white;
}
span{
    color: white;
    position: relative;
    top:5px;
}
