.container1{
    height:500px;
    width: 90%;
    background-color: rgb(224, 187, 193);
    margin: 10px auto;
    border: 2px solid black; 
    display:flex;   
    flex-direction: row;   
}
.container2{
    height:500px;
    width: 90%;
    background-color: rgb(224, 187, 193);
    margin: 10px auto;
    border: 2px solid black; 
    display:flex;  
    flex-direction: column;    
}
.one{
    background-color: brown;
    height: 400px;
    width: 200px;
    border: 2px solid rgb(4, 255, 238);
    flex-shrink:0;
}    
.two{
    background-color: brown;
    height: 400px;
    width: 200px;
    border: 2px solid rgb(4, 255, 238);
    flex-shrink:1;
}
.one1{
    background-color: brown;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(4, 255, 238);
    flex-shrink:0;
}    
.two2{
    background-color: brown;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(4, 255, 238);
    flex-shrink:1;
}